In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/yamagishi_kaneko_NLS_table.csv')

In [3]:
df.head(9)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Table S1. Information on NLSs identified in Un...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No.,Protein,NaN,NLS,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,UniProt ID,Name,Begin,End,Sequence,Length,Evidence,ECO code,NaN
4,1,Q14738,Serine/threonine-protein phosphatase 2A 56 kDa...,548,565,KRTVETEAVQMLKDIKKE,18,Sequence Analysis,ECO:0000255,NaN
5,2,Q13362,Serine/threonine-protein phosphatase 2A 56 kDa...,416,422,KLKEKLK,7,Sequence Analysis,ECO:0000255,NaN
6,3,Q9NRA8,Eukaryotic translation initiation factor 4E tr...,195,211,RREFGDSKRVFGERRRN,17,NaN,NaN,NaN
7,4,P42684,Abelson tyrosine-protein kinase 2,658,660,KKR,3,Sequence Analysis,ECO:0000255,NaN
8,5,Q4JIM5,Abelson tyrosine-protein kinase 2,659,661,KKR,3,Sequence Analysis,ECO:0000255,NaN

In [4]:
# Remove redundant rows, columns and rename some columns 

df_cleaned = df.iloc[3:,:]
df_cleaned.reset_index(drop=True, inplace=True)
df_cleaned.columns = df_cleaned.iloc[0]
df_cleaned = df_cleaned.drop(df_cleaned.index[0])
df_cleaned = df_cleaned.drop(['Name', 'Evidence', 'ECO code'],axis=1)
df_cleaned = df_cleaned.drop(df_cleaned.columns[[0,-1]],axis=1)
df_cleaned = df_cleaned.rename(columns={'UniProt ID':'ID'})
print(df_cleaned)

0         ID Begin  End            Sequence Length
1     Q14738   548  565  KRTVETEAVQMLKDIKKE     18
2     Q13362   416  422             KLKEKLK      7
3     Q9NRA8   195  211   RREFGDSKRVFGERRRN     17
4     P42684   658  660                 KKR      3
5     Q4JIM5   659  661                 KKR      3
...      ...   ...  ...                 ...    ...
1360  Q96CK0   107  118        PKKPKRKKRRRR     12
1361  Q96CK0   445  451             EPEKRRR      7
1362  Q24JY4    38   47          DNFQDDPHAG     10
1363  O43257    38   47          DNFQDDPHAG     10
1364  Q8R331    38   47          DNFQDDPHAG     10

[1364 rows x 5 columns]

In [6]:
print(df_cleaned.columns)

Index(['ID', 'Begin', 'End', 'Sequence', 'Length'], dtype='object', name=0)

In [7]:
# Full sequences downloaded from UniProt
file_path='../data/UniProt_data.tsv'

df1 = pd.read_csv(file_path, sep='\t')

df1 = df1.drop(['Entry','Length'], axis = 1)
df1 = df1.rename(columns={'From':'ID'})
df1.head(5)

       ID                                           Sequence
0  Q14738  MPYKLKKEKEPPKVAKCTAKPSSSGKDGGGENTEEAQPQPQPQPQP...
1  Q13362  MLTCNKAGSRMVVDAANSNGPFQPVVLLHIRDVPPADQEKLFIQKL...
2  Q9NRA8  MDRRSMGETESGDAFLDLKKPPASKCPHRYTKEELLDIKELPHSKQ...
3  P42684  MGQQVGRVGEAPGLQQPQPRGIRGSSAARPSGRRRDPAGRTTETGF...
4  Q4JIM5  MGQQVGRVGEAPGLQQPQPRGIRGSSAARPSGRRRDPAGRTADAGF...

In [8]:
# Append full protein sequences to the cleaned yamagishi_kaneko dataset
merged_df = pd.merge(df_cleaned, df1, on='ID', how='outer')
print(merged_df.head())

       ID Begin  End          Sequence_x Length  \
0  Q14738   548  565  KRTVETEAVQMLKDIKKE     18
1  Q13362   416  422             KLKEKLK      7
2  Q9NRA8   195  211   RREFGDSKRVFGERRRN     17
3  P42684   658  660                 KKR      3
4  Q4JIM5   659  661                 KKR      3

                                          Sequence_y
0  MPYKLKKEKEPPKVAKCTAKPSSSGKDGGGENTEEAQPQPQPQPQP...
1  MLTCNKAGSRMVVDAANSNGPFQPVVLLHIRDVPPADQEKLFIQKL...
2  MDRRSMGETESGDAFLDLKKPPASKCPHRYTKEELLDIKELPHSKQ...
3  MGQQVGRVGEAPGLQQPQPRGIRGSSAARPSGRRRDPAGRTTETGF...
4  MGQQVGRVGEAPGLQQPQPRGIRGSSAARPSGRRRDPAGRTADAGF...

In [9]:
merged_df.to_csv('../data/data_NLS.csv', index=False)